@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-menu">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">🏠 Home</NavLink></li>

        <AuthorizeView Roles="Master">
            <Authorized>
                <li><NavLink href="/clinicas">🏥 Clínicas</NavLink></li>
                <li><NavLink href="/materiaisconsumo">📦 Materiais de Consumo</NavLink></li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="User">
            <Authorized>
                <li><NavLink href="/materiaisconsumo">📋 Materiais</NavLink></li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <li><a href="" @onclick="Logout">🚪 Sair</a></li>
            </Authorized>
            <NotAuthorized>
                <li><NavLink href="/login">🔐 Login</NavLink></li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        // remove token e atualiza estado
        await (AuthStateProvider as Client.Auth.CustomAuthStateProvider)!.LogoutAsync();
    }
}
