@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject Client.Services.AuthService AuthService

<div class="p-3 bg-primary text-white">
    <h3>Assistant Area</h3>
</div>

<AuthorizeView Roles="Auxiliar">
    <Authorized>
        <div class="p-3">
            <ul>
                <li><a href="/materiais-consumo">Register Consumption</a></li>
                <li><a href="/estoque">View Inventory</a></li>
            </ul>
            <button @onclick="Logout">Logout</button>

            <div class="mt-2">
                @Body
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task Logout()
    {
        await AuthService.Logout();
        Nav.NavigateTo("/login");
    }
}
