@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject Client.Services.AuthService AuthService

<div class="p-3 bg-dark text-white">
    <h3>Área Master</h3>
</div>

<AuthorizeView Roles="Master">
    <Authorized>
        <div class="d-flex">
            <div class="bg-light p-3" style="width:200px;">
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/clinicas">Gerenciar Clínicas</a></li>
                    <li><a href="/materiais">Materiais</a></li>
                </ul>

                <button @onclick="Logout">Sair</button>
            </div>

            <div class="p-3 w-100">
                @Body
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task Logout()
    {
        await AuthService.Logout();
        Nav.NavigateTo("/login");
    }
}
