@page "/home"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="home-hero-wrapper">
    <div class="home-hero">
        <img src="/imagens/LogoLogin.jpeg" alt="Alpha Dental Logo" class="home-hero__image" />
    </div>
</div>