@page "/materiais-consumo"
@using Client.SharedClient
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Auxiliar")]

@layout AuxLayout

<h3>Register Material Consumption</h3>

<p>Only ASSISTANT can see this.</p>

