name: Build and deploy ASP.Net Core app to Azure Web App - clinic-app-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build Api/Api.csproj
        run: dotnet build Api/Api.csproj --configuration Release

      - name: Publish Api/Api.csproj
        run: dotnet publish Api/Api.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_40DF7B941CCC406E9956B4A6A66C6EBB }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7398021D15AF454485A36B639F911BC5 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5A56F44CB9E1463FAC517B00DA27C0E2 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'clinic-app-api'
          slot-name: 'Production'
          package: .
